body {
    padding: 0px;
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
    cursor: auto;
}

.header {
    padding: 20px 20%;
    font-family: "楷体";
    font-size: 2.4em;
    background-color: #ADBBCC;
}

.content {
    padding: 0px 20%;
}

.book-info {
    display: inline;
}

.book-link {
    font-family: "黑体";
    font-size: 2em;
    color: #114598;
}
.chapter-info {
    font-family: "黑体";
    font-size: 1.6em;
    color: #981145;
}

.comic {
    padding: 20px;
    margin: 10px 0px;
    background-color: #ADBBCC;
    border-radius: 5px;
}

.drawing {
    width: 100%;
}
.comments-header {
    margin-bottom: 40px;
    text-align: center; 
    font-family: "宋体";
    font-size: 1.2em;
}
.comment{
    font-family: "宋体";
    font-size: 1.2em;
}
.comment-author-info {
    color: #114598;
    margin-bottom: 20px;
}

.footer {
    padding: 20px 20%;
    font-family: "宋体";
    text-align: center;
    font-size: 0.8em;
    background-color: #ADBBCC;
}