body {
    padding: 0px;
    margin: 0px;
}

a {
    color: black;
    text-decoration: none;
    cursor: auto;
}

.rounded-corner-block {
    border-radius: 5px;
    margin: 20px 0px;
    padding: 20px;
}

.basic-background-color {
    background-color: #ADBBCC;
}

.header {
    padding: 20px 20%;
    font-family: "楷体";
    font-size: 2.4em;
}

.content {
    padding: 0px 20%;
}

.drawing-info {
    display: inline;
}
.book-info {
    display: inline;
}

.book-link {
    font-family: "黑体";
    font-size: 2em;
    color: #114598;
}

.chapter-info {
    font-family: "黑体";
    font-size: 1.6em;
    color: #981145;
}

.drawing {
    width: 100%;
}

.comment-area {
    padding: 20px 10px;
    font-family: "宋体";
    font-size: 1.2em;
}

.comments-header {
    text-align: center; 
}

.comment {
    margin: 10px 0px 0px 0px;
    background: white;
    border: solid 1px black;
    padding: 10px;
}

.comment-reply {
    margin: 0px 0px 0px 40px; 
    border-bottom: dotted 1px #DDDDDD;
}

.comment-reply-odd {
    border-color: #CCEEAA;
    background-color: #F6F6F6;
}

.comment-reply-even {
    border-color: #AACCEE;
    background-color: white;
}

.comment-author-info {
    color: #114598;
    margin-bottom: 20px;
}

.footer {
    padding: 20px 20%;
    font-family: "宋体";
    text-align: center;
    font-size: 0.8em;
}